<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="pl.michalsulek.vgtiv4">

  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application
    android:name=".App"
    android:allowBackup="true"
    android:theme="@style/AppTheme">

    <activity
      android:name=".activities.VGTIActivity"
      android:icon="@mipmap/ic_launcher_round"
      android:label="@string/app_name"
      android:theme="@android:style/Theme.Black.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activities.YanosikActivity"
      android:icon="@mipmap/ic_launcher_yanosik_round"
      android:label="@string/app_name_yanosik"
      android:theme="@android:style/Theme.Black.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activities.TorqueActivity"
      android:icon="@mipmap/ic_launcher_torque_round"
      android:label="@string/app_name_torque"
      android:theme="@android:style/Theme.Black.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <receiver
      android:name=".receivers.BootReceiver"
      android:enabled="true"
      android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="android.intent.action.REBOOT" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>


    <service
      android:name=".services.CheckService"
      android:enabled="true" />

  </application>


</manifest>
